{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <h2>Login</h2>

            <form id="contact-form" method="POST" role="form">

                {% csrf_token %}

                        <div class="form-group">
                            <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                            {% render_field form.username class="form-control" %}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                            {% render_field form.password class="form-control" %}
                        </div>

                <div class="text-right"><br>
                    <button class="btn btn-primary solid blank" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>


{% endblock %}