<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Phone Repair is website for providing phone repair service">
    <meta name="author" content="Phone Repair">
    <meta name="keyword" content="Phone Repair, Repair, Phone">
    <title>Digi Compute</title>
    <!-- Icons-->
    <link href="{% static 'admin_static/vendors/@coreui/icons/css/coreui-icons.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin_static/vendors/flag-icon-css/css/flag-icon.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin_static/vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin_static/vendors/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">
    <!-- Main styles for this application-->
      <link rel="stylesheet" type="text/css" href="{% static 'admin_static/css/dataTables.bootstrap4.min.css' %}"/>
    <link href="{% static 'admin_static/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'admin_static/vendors/pace-progress/css/pace.min.css' %}" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics-->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-118965717-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      // Shared ID
      gtag('config', 'UA-118965717-3');
      // Bootstrap ID
      gtag('config', 'UA-118965717-5');
    </script>
  </head>
  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <header class="app-header navbar">
      <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img class="navbar-brand-full" src="{% static 'images/logo.png' %}" width="89" height="25" alt="Digi Compute Logo">
        <img class="navbar-brand-minimized" src="{% static 'images/logo.png' %}" width="30" height="30" alt="Digi Compute Logo">
      </a>
      <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--<ul class="nav navbar-nav d-md-down-none">-->
        <!--<li class="nav-item px-3">-->
          <!--<a class="nav-link" href="#">Dashboard</a>-->
        <!--</li>-->
        <!--<li class="nav-item px-3">-->
          <!--<a class="nav-link" href="#">Users</a>-->
        <!--</li>-->
        <!--<li class="nav-item px-3">-->
          <!--<a class="nav-link" href="#">Settings</a>-->
        <!--</li>-->
      <!--</ul>-->
      <ul class="nav navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <img class="img-avatar" src="{% static 'admin_static/img/avatars/6.jpg' %}" alt="admin@bootstrapmaster.com">
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <!--<div class="dropdown-header text-center">-->
              <!--<strong>Account</strong>-->
            <!--</div>-->
            <!--<a class="dropdown-item" href="#">-->
              <!--<i class="fa fa-bell-o"></i> Updates-->
              <!--<span class="badge badge-info">42</span>-->
            <!--</a>-->
            <!--<a class="dropdown-item" href="#">-->
              <!--<i class="fa fa-envelope-o"></i> Messages-->
              <!--<span class="badge badge-success">42</span>-->
            <!--</a>-->
            <!--<a class="dropdown-item" href="#">-->
              <!--<i class="fa fa-tasks"></i> Tasks-->
              <!--<span class="badge badge-danger">42</span>-->
            <!--</a>-->
            <!--<a class="dropdown-item" href="#">-->
              <!--<i class="fa fa-comments"></i> Comments-->
              <!--<span class="badge badge-warning">42</span>-->
            <!--</a>-->
            <!--<div class="dropdown-header text-center">-->
              <!--<strong>Settings</strong>-->
            <!--</div>-->
            <!--<a class="dropdown-item" href="#">-->
              <!--<i class="fa fa-user"></i> Profile</a>-->
            <!--<a class="dropdown-item" href="#">-->
              <!--<i class="fa fa-wrench"></i> Settings</a>-->
            <!--<a class="dropdown-item" href="#">-->
              <!--<i class="fa fa-usd"></i> Payments-->
              <!--<span class="badge badge-secondary">42</span>-->
            <!--</a>-->
            <!--<a class="dropdown-item" href="#">-->
              <!--<i class="fa fa-file"></i> Projects-->
              <!--<span class="badge badge-primary">42</span>-->
            <!--</a>-->
            <!--<div class="dropdown-divider"></div>-->
            <!--<a class="dropdown-item" href="#">-->
              <!--<i class="fa fa-shield"></i> Lock Account</a>-->
            <a class="dropdown-item" href="{% url 'logout' %}">
              <i class="fa fa-lock"></i> Logout</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item d-md-down-none">
          <a class="nav-link" href="{% url 'login' %}">
            <i class="fa fa-user"></i> Login
          </a>
        </li>
        {% endif %}
      </ul>
    </header>
    <div class="app-body">
      <div class="sidebar">
        <nav class="sidebar-nav">
          <ul class="nav">
            {% if perms.repair.view_brand or perms.repair.add_brand %}
              <li class="nav-title">Brand</li>
              {% if perms.repair.view_brand %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'repair:dashboard_brand_list' %}">
                    <i class="nav-icon icon-list"></i> Brand List</a>
                </li>
              {% endif %}
              {% if perms.repair.add_brand %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'repair:add_brand' %}">
                    <i class="nav-icon icon-pencil"></i> Add Brand</a>
                </li>
              {% endif %}
            {% endif %}
            {% if perms.repair.view_phone or perms.repair.add_phone %}
              <li class="nav-title">Phone</li>
              {% if perms.repair.view_phone %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'repair:dashboard_phone_list' %}">
                    <i class="nav-icon icon-list"></i> Phone List</a>
                </li>
              {% endif %}
              {% if perms.repair.add_phone %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'repair:add_phone' %}">
                    <i class="nav-icon icon-pencil"></i> Add Phone</a>
                </li>
              {% endif %}
            {% endif %}
            {% if perms.repair.view_problem_type or perms.repair.add_problem_type %}
              <li class="nav-title">Problem Type</li>
              {% if perms.repair.view_problem %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'repair:dashboard_problem_type_list' %}">
                    <i class="nav-icon icon-list"></i> Problem Type List</a>
                </li>
              {% endif %}
              {% if perms.repair.add_problem_type %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'repair:add_problem_type' %}">
                    <i class="nav-icon icon-pencil"></i> Add Problem Type</a>
                </li>
              {% endif %}
            {% endif %}
            {% if perms.repair.view_phoneproblem or perms.repair.add_phoneproblem %}
              <li class="nav-title">Phone Problem</li>
              {% if perms.repair.view_phoneproblem %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'repair:dashboard_phone_problem_list' %}">
                    <i class="nav-icon icon-list"></i> Phone Problem List</a>
                </li>
              {% endif %}
              {% if perms.repair.add_phoneproblem %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'repair:add_phone_problem' %}">
                    <i class="nav-icon icon-pencil"></i> Add Phone Problem</a>
                </li>
              {% endif %}
            {% endif %}
{#            {% if perms.cclportal.view_donation or perms.cclportal.add_donation %}#}
{#              <li class="nav-title">Donations</li>#}
{#              {% if perms.cclportal.view_donation %}#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link" href="{% url 'cclportal:donation_list' %}">#}
{#                    <i class="nav-icon icon-list"></i> All Donations</a>#}
{#                </li>#}
{#              {% endif %}#}
{#              {% if perms.cclportal.add_donation %}#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link" href="{% url 'cclportal:new_donation_dash' %}">#}
{#                    <i class="nav-icon icon-pencil"></i> Donate</a>#}
{#                </li>#}
{#              {% endif %}#}
{#            {% endif %}#}
{#            {% if perms.cclportal.view_investment or perms.cclportal.add_donation %}#}
{#              <li class="nav-title">Investments</li>#}
{#              {% if perms.cclportal.view_investment %}#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link" href="{% url 'cclportal:investment_list' %}">#}
{#                    <i class="nav-icon icon-list"></i> All Investments</a>#}
{#                </li>#}
{#              {% endif %}#}
{#              {% if perms.cclportal.add_investment %}#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link" href="{% url 'cclportal:new_investment_dash' %}">#}
{#                    <i class="nav-icon icon-pencil"></i> Investment</a>#}
{#                </li>#}
{#              {% endif %}#}
{#            {% endif %}#}
          </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
      </div>
      <main class="main">
        <!-- Breadcrumb-->
        <!--<ol class="breadcrumb">-->
          <!--<li class="breadcrumb-item">Home</li>-->
          <!--<li class="breadcrumb-item">-->
            <!--<a href="#">Admin</a>-->
          <!--</li>-->
          <!--<li class="breadcrumb-item active">Dashboard</li>-->
           <!--Breadcrumb Menu-->
          <!--<li class="breadcrumb-menu d-md-down-none">-->
            <!--<div class="btn-group" role="group" aria-label="Button group">-->
              <!--<a class="btn" href="#">-->
                <!--<i class="icon-speech"></i>-->
              <!--</a>-->
              <!--<a class="btn" href="../../..">-->
                <!--<i class="icon-graph"></i>  Dashboard</a>-->
              <!--<a class="btn" href="#">-->
                <!--<i class="icon-settings"></i>  Settings</a>-->
            <!--</div>-->
          <!--</li>-->
        <!--</ol>-->
        <div class="container-fluid">
          <div class="animated fadeIn">

              {% block content %}

              {% endblock %}

          </div>
        </div>
      </main>
    </div>
    <footer class="app-footer">
      <div>
        <span>© {% now "Y" %}, All Rights Reserved by Digi Compute.</span>
      </div>
    </footer>
    <!-- CoreUI and necessary plugins-->
    <script src="{% static 'admin_static/vendors/jquery/js/jquery.min.js' %}"></script>
    <script src="{% static 'admin_static/vendors/popper.js/js/popper.min.js' %}"></script>
    <script src="{% static 'admin_static/vendors/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin_static/vendors/pace-progress/js/pace.min.js' %}"></script>
    <script src="{% static 'admin_static/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'admin_static/vendors/@coreui/coreui/js/coreui.min.js' %}"></script>
    {#    For datatable js#}
    <script src="{% static 'admin_static/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'admin_static/js/dataTables.bootstrap4.min.js' %}"></script>

    <script>
        {% block extra_js %}{% endblock %}
    </script>
  </body>
</html>
